body{
    background-color: whitesmoke;
    text-align: center;
    
}
h1,h3,label{
    padding-top: 3%;
}
p{
    text-align: justify;
    padding: 5% 10%;
}
.NAV_B{
    background-color: #A4BC92;
}
.margen,.nav-item{
    padding-right: 8%;
}
.cuerpo{
    margin: 10% 20%;
    background-color: #A4BC92;
    border-radius: 10%;
    border: solid #F7DB6A;
    
}
.style{
    padding: 5%;

}
input[type=date]{
    margin-bottom:3% ;
}
.opcions{
    padding: 0 8%;
    text-align: justify;
    color: brown;
}